$sizes: (200, 300, 400, 500, 600, 700, 800, 900);
:root {
  --scale: 1.25;
  --size-400: 1rem;

  @each $size in $sizes {
    @if $size < 400 {
      --size-#{$size}: calc(var(--size-#{$size + 100}) / var(--scale));
    }
    @else if $size > 400 {
      --size-#{$size}: calc(var(--size-#{$size - 100}) * var(--scale));
    }
  }
}
