.feature {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  align-items: center;
  justify-items: center;

  > * {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
  }

  > div {
    padding: var(--size-400);
  }

  // the line above the headline -> standfirst
  h2 {
    font-size: var(--size-400);
  }

  // the headline itself
  h1 {
    font-size: var(--size-600);

    strong {
      color: var(--color-primary);
      font-weight: 400;
    }
  }
}