.showcase {
  display: flex;

  position: relative;
  overflow-x: hidden;

  &__wrapper {
    display: flex;

    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    > * {
      width: 100%;
      min-width: 100%;
    }
  }
}